.input__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

.add-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  height: 30vh;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='19' ry='19' stroke='white' stroke-width='4' stroke-dasharray='3%2c 20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 19px;
  border-spacing: 10px;
  margin-top: -11%;
  border-collapse: separate;
}

.create__button1 {
  background-color: #ff595a;
  color: #001233;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 0.75rem;
  font-weight: 700;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.pdf__icon {
  width: 50px;
  height: auto;
}
